.catalog-section {
  padding: 40px 0;
}

.catalog-title {
  text-align: center;
  margin-bottom: 40px;
  font-family: var(--second-family);
  font-size: 3rem;
  color: var(--txt);
}

.catalog-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.catalog-item,
.catalog-item-link {
  position: relative;
  display: flex;
  align-items: flex-end;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  width: 100%;
  max-width: 705px;
  height: 400px;
}

.blog-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.catalog-item-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
}

.catalog-item-content h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: var(--white);
  margin: 0;
}

.catalog-item-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: var(--white);
  flex-grow: 1;
  margin: 0;
}

.btn-read-more {
  display: inline-block;
  text-decoration: none;
  color: var(--main);
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
}

.btn-read-more:hover {
  border-color: var(--main);
}

.pagination {
  display: flex;
  justify-content: right;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.page-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 0 10px;
  text-decoration: none;
  color: var(--txt);
  border: 1px solid var(--sep);
  border-radius: 4px;
  transition: all 0.2s;
}

.page-number:hover {
  border-color: var(--main);
  color: var(--main);
}

.page-number.active {
  background-color: var(--main);
  color: #fff;
  border-color: var(--main);
}

.prev-page,
.next-page {
  text-decoration: none;
  color: var(--main);
  font-weight: 600;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 9.375rem;
}

.news-column {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.news-title h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 160%;
  color: var(--txt);
}
.news-title h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: var(--txt);
}
.news-title h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  color: var(--txt);
}

.social-icons {
  display: flex;
  grid-auto-flow: column;
  grid-column: span 4;
  margin-top: 1.6875rem;
  gap: 10px;
  max-height: 1.5rem;
}

.news-img {
  width: 100%;
}

.share {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.share-item {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--txt2);
}

.news-page-link {
  visibility: hidden;
}




@media (max-width: 768px) {
  .catalog-grid {
    grid-template-columns: 1fr;
  }

  .social-icons {
    display: none;
  }

  .share {
    display: flex;
  }

  .news-column {
    grid-column: span 12;
  }
}
@media (max-width: 576px) {
  .catalog-item {
    max-width: 345px;
    height: 195px;
  }
}
